.shudan-goban {
        --board-border-color: #CA933A;
        --board-background-image: url('./board.png');
        --board-background-color: #EBB55B;
        --board-foreground-color: #5E2E0C;
        --black-background-image: url('./stone_1.png');
        --black-background-color: #222;
        --black-foreground-color: #eee;
        --white-background-image: url('./stone_-1.png');
        --white-background-color: #fff;
        --white-foreground-color: #222;

        border: .25em solid var(--board-border-color);
        background: var(--board-background-image), var(--board-background-color);
        color: var(--board-foreground-color);
    }
    .shudan-goban:not(.coordinates) {
        padding: .25em;
}

.shudan-goban .vertex div {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Grid lines and hoshis */

.shudan-goban .vertex .board::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--board-foreground-color);
    }
    .shudan-goban .vertex.left .board::before {
        left: 50%;
    }
    .shudan-goban .vertex.right .board::before {
        width: 50%;
    }
    .shudan-goban .vertex .board::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: var(--board-foreground-color);
    }
    .shudan-goban .vertex.top .board::after {
        top: 50%;
    }
    .shudan-goban .vertex.bottom .board::after {
        height: calc(50% + 1px);
    }
    .shudan-goban .vertex .hoshi {
        left: 50%;
        top: 50%;
        width: .2em;
        height: .2em;
        border-radius: 50%;
        background: var(--board-foreground-color);
        transform: translate(calc(-50% + .5px), calc(-50% + .5px));
}

/* Stone render */

.shudan-goban .vertex .stone {
        top: .04em;
        left: .04em;
        width: calc(100% - .08em);
        height: calc(100% - .08em);
        transform: translate(.5px, .5px);
    }
    .shudan-goban .vertex .stone .shadow {
        border-radius: 50%;
    }
    .shudan-goban .vertex .stone .inner {
        text-indent: -9999rem;
        background-size: 100%;
    }
    .shudan-goban .vertex:not(.sign_0).dimmed .stone {
        opacity: .6;
    }
    .shudan-goban .vertex:not(.sign_0) .stone .shadow {
        background: rgba(23, 10, 2, .4);
        box-shadow: 0 .1em .2em rgba(23, 10, 2, .4);
    }
    .shudan-goban .vertex.sign_1 .stone .inner {
        background-image: var(--black-background-image);
    }
    .shudan-goban .vertex.sign_-1 .stone .inner {
        background-image: var(--white-background-image);
}

/* Fuzzy stone placement */

.shudan-goban .vertex:not(.sign_0).animate .stone {
        transition: transform .2s;
    }
    .shudan-goban .vertex:not(.sign_0).shift_1 .stone {
        transform: translate(-.07em, 0);
    }
    .shudan-goban .vertex:not(.sign_0).shift_2 .stone {
        transform: translate(0, -.07em);
    }
    .shudan-goban .vertex:not(.sign_0).shift_3 .stone {
        transform: translate(.07em, 0);
    }
    .shudan-goban .vertex:not(.sign_0).shift_4 .stone {
        transform: translate(0, .07em);
    }
    .shudan-goban .vertex:not(.sign_0).shift_5 .stone {
        transform: translate(-.04em, -.04em);
    }
    .shudan-goban .vertex:not(.sign_0).shift_6 .stone {
        transform: translate(.04em, -.04em);
    }
    .shudan-goban .vertex:not(.sign_0).shift_7 .stone {
        transform: translate(.04em, .04em);
    }
    .shudan-goban .vertex:not(.sign_0).shift_8 .stone {
        transform: translate(-.04em, .04em);
}

/* Markers */

.shudan-goban .vertex .stone .marker {
        left: 0;
        top: 0;
        text-align: center;
    }
    .shudan-goban .vertex .stone .marker::before,
    .shudan-goban .vertex .stone .marker::after {
        box-sizing: border-box;
        content: '';
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        border: .07em solid var(--board-foreground-color);
        background: var(--board-background-image), var(--board-background-color);
        transform: translate(-50%, -50%);
    }
    .shudan-goban .vertex.sign_1 .stone .marker::before,
    .shudan-goban .vertex.sign_1 .stone .marker::after {
        background: transparent;
        border-color: var(--black-foreground-color);
        color: var(--black-foreground-color);
    }
    .shudan-goban .vertex.sign_-1 .stone .marker::before,
    .shudan-goban .vertex.sign_-1 .stone .marker::after {
        background: transparent;
        border-color: var(--white-foreground-color);
        color: var(--white-foreground-color);
}

.shudan-goban .vertex.marker_point .stone .marker {
        left: 50%;
        top: 50%;
        width: .3em;
        height: .3em;
        border-radius: 50%;
        background: var(--board-foreground-color);
        transform: translate(-50%, -50%);
    }
    .shudan-goban .vertex.marker_point.sign_1 .stone .marker {
        background: var(--black-foreground-color);
    }
    .shudan-goban .vertex.marker_point.sign_-1 .stone .marker {
        background: var(--white-foreground-color);
}

.shudan-goban .vertex.marker_square .stone .marker::before,
.shudan-goban .vertex.marker_circle .stone .marker::before,
.shudan-goban .vertex.marker_loader .stone .marker::before {
        display: block;
        width: .5em;
        height: .5em;
    }
    .shudan-goban .vertex.marker_circle .stone .marker::before,
    .shudan-goban .vertex.marker_loader .stone .marker::before {
        border-radius: 50%;
    }
    .shudan-goban .vertex.marker_loader .stone .marker::before {
        border-left-color: transparent;
        border-top-color: transparent;
        animation: 1.5s linear 0s shudan-rotation infinite;
}

@keyframes shudan-rotation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.shudan-goban .vertex.marker_cross .stone .marker {
        width: .7em;
        height: .7em;
        left: 50%;
        top: 50%;
        background: var(--board-background-image), var(--board-background-color);
        transform: translate(-50%, -50%);
    }
    .shudan-goban .vertex.marker_cross.sign_1 .stone .marker,
    .shudan-goban .vertex.marker_cross.sign_-1 .stone .marker {
        background: transparent;
    }
    .shudan-goban .vertex.marker_cross .stone .marker::before,
    .shudan-goban .vertex.marker_cross .stone .marker::after {
        display: block;
        border-width: .07em 0 0 0;
        width: .7em;
        height: 0;
        margin-left: -.35em;
        margin-top: -.035em;
        transform: rotate(45deg);
    }
    .shudan-goban .vertex.marker_cross .stone .marker::after {
        transform: rotate(-45deg);
}

.shudan-goban .vertex.marker_triangle .stone .marker::before {
        display: block;
        border-top: none;
        border-left: .3em solid transparent;
        border-right: .3em solid transparent;
        border-bottom: .5em solid;
        background: none;
    }
    .shudan-goban .vertex.marker_triangle .stone .marker::after {
        display: block;
        border-top: none;
        border-left: .18em solid transparent;
        border-right: .18em solid transparent;
        border-bottom: .3em solid var(--board-background-color);
        transform: translate(-.18em, -.12em);
        background: none;
    }
    .shudan-goban .vertex.marker_triangle.sign_1 .stone .marker::after {
        border-bottom-color: var(--black-background-color);
    }
    .shudan-goban .vertex.marker_triangle.sign_-1 .stone .marker::after {
        border-bottom-color: var(--white-background-color);
}

.shudan-goban .vertex.marker_label .stone .marker::before {
        content: attr(title);
        display: inline-block;
        border: none;
        max-width: 1.67em;
        height: 1.1em;
        overflow: hidden;
        font-size: .6em;
        line-height: .9;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .shudan-goban .vertex.smalllabel .stone .marker::before {
        max-width: 2.2em;
        height: 1.1em;
        font-size: .36em;
}

/* Ghost stones */

.shudan-goban .vertex .ghost {
        left: 50%;
        top: 50%;
        width: .4em;
        height: .4em;
        opacity: .6;
        transform: translate(calc(-50% + .5px), calc(-50% + .5px));
    }
    .shudan-goban .vertex .ghost::before {
        content: '';
        box-sizing: border-box;
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: .4em;
        height: .4em;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    .shudan-goban .vertex.ghost_faint .ghost {
        opacity: .35;
    }
    .shudan-goban .vertex.ghost_1 .ghost::before,
    .shudan-goban .vertex.ghost_-1 .ghost::before {
        display: block;
    }
    .shudan-goban .vertex.ghost_1 .ghost::before {
        background: var(--black-background-color);
    }
    .shudan-goban .vertex.ghost_-1 .ghost::before {
        background: var(--white-background-color);
    }
    .shudan-goban .vertex.ghost_good .ghost::before {
        background: #59A80F;
    }
    .shudan-goban .vertex.ghost_interesting .ghost::before {
        background: #4886D5;
    }
    .shudan-goban .vertex.ghost_doubtful .ghost::before {
        background: #92278F;
    }
    .shudan-goban .vertex.ghost_bad .ghost::before {
        background: #F02311;
}

/* Paint map */

.shudan-goban .vertex.paint_1 .paint,
.shudan-goban .vertex.paint_-1 .paint {
        opacity: .3;
    }
    .shudan-goban .vertex.paint_1 .paint {
        background: var(--black-background-color);
    }
    .shudan-goban .vertex.paint_-1 .paint {
        background: var(--white-background-color);
}

/* Heat map */

.shudan-goban .vertex .heat {
        top: 50%;
        left: 50%;
        margin-left: -1px;
        margin-top: -1px;
        border-radius: 50%;
        width: 1px;
        height: 1px;
        background: red;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s, box-shadow .5s;
    }
    .shudan-goban .vertex.heat_9 .heat {
        box-shadow: 0 0 1em 1em red;
        opacity: .8;
    }
    .shudan-goban .vertex.heat_8 .heat {
        box-shadow: 0 0 1em .9em red;
        opacity: .8;
    }
    .shudan-goban .vertex.heat_7 .heat {
        box-shadow: 0 0 1em .75em red;
        opacity: .8;
    }
    .shudan-goban .vertex.heat_6 .heat {
        box-shadow: 0 0 1em .6em red;
        opacity: .75;
    }
    .shudan-goban .vertex.heat_5 .heat {
        box-shadow: 0 0 .9em .55em red;
        opacity: .7;
    }
    .shudan-goban .vertex.heat_4 .heat {
        box-shadow: 0 0 .85em .5em red;
        opacity: .65;
    }
    .shudan-goban .vertex.heat_3 .heat {
        box-shadow: 0 0 .8em .45em red;
        opacity: .6;
    }
    .shudan-goban .vertex.heat_2 .heat {
        box-shadow: 0 0 .75em .4em red;
        opacity: .55;
    }
    .shudan-goban .vertex.heat_1 .heat {
        box-shadow: 0 0 .7em .35em red;
        opacity: .5;
}

/* Selection */

.shudan-goban .vertex .selection {
    left: -.1em;
    right: -.1em;
    top: -.1em;
    bottom: -.1em;
    border: .1em solid #0082F0;
    border-radius: 5px;
    background: rgba(0, 130, 240, .2);
}

/* Lines & arrows */

.shudan-goban hr {
    border: none;
    height: .11em;
    background: var(--board-foreground-color);
    overflow: visible;
}

.shudan-goban hr.arrow::before, .shudan-goban hr.arrow::after {
        content: '';
        position: absolute;
        height: .11em;
        width: .5em;
        left: auto;
        right: 0;
        top: -.12em;
        background: var(--board-foreground-color);
        transform: rotate(30deg);
        pointer-events: none;
    }
    .shudan-goban hr.arrow::after {
        top: auto;
        bottom: -.12em;
        transform: rotate(-30deg);
}
