.sabaki-goban {
        border: .3em solid #CA933A;
        background: #EBB55B;
        color: #5E2E0C;
    }
    .sabaki-goban:not(.coordinates) {
        padding: .3em;
}

.sabaki-goban .vertex {
        position: relative;
    }
    .sabaki-goban .vertex div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
}

.sabaki-goban .vertex .board::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #5E2E0C;
    }
    .sabaki-goban .vertex.left .board::before {
        left: 50%;
        width: 50%;
    }
    .sabaki-goban .vertex.right .board::before {
        width: 50%;
    }
    .sabaki-goban .vertex .board::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #5E2E0C;
    }
    .sabaki-goban .vertex.top .board::after {
        top: 50%;
        height: 50%;
    }
    .sabaki-goban .vertex.bottom .board::after {
        height: calc(50% + 1px);
    }
    .sabaki-goban .vertex .hoshi {
        left: calc(50% + 1px);
        top: calc(50% + 1px);
        margin-left: -.1em;
        margin-top: -.1em;
        width: .2em;
        height: .2em;
        border-radius: 50%;
        background: #5E2E0C;
        z-index: 2;
}

.sabaki-goban .vertex .stone {
        top: .04em;
        left: .04em;
        width: calc(100% - .08em);
        height: calc(100% - .08em);
    }
    .sabaki-goban .vertex .stone .shadow,
    .sabaki-goban .vertex .stone .inner {
        box-sizing: border-box;
        border-radius: 50%;
        text-indent: -9999rem;
        z-index: 12;
    }
    .sabaki-goban .vertex:not(.sign_0) .stone .shadow {
        box-shadow: 0 .1em .2em rgba(23, 10, 2, .3);
        z-index: 11;
    }
    .sabaki-goban .vertex.sign_1 .stone .inner {
        background: #222;
    }
    .sabaki-goban .vertex.sign_-1 .stone .inner {
        background: white;
}

.sabaki-goban hr {
    border: none;
    height: 2px;
    background: #5E2E0C;
    z-index: 20;
}
