.sabaki-goban {
        --board-background-color: #FCC66C;
        --board-foreground-color: #5E2E0C;
        --black-background-color: #222;
        --black-foreground-color: #eee;
        --white-background-color: #fff;
        --white-foreground-color: #222;

        border: .25em solid #CA933A;
        background: var(--board-background-color);
        color: var(--board-foreground-color);
    }
    .sabaki-goban:not(.coordinates) {
        padding: .25em;
}

.sabaki-goban .vertex div {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Grid lines and hoshis */

.sabaki-goban .vertex .board::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--board-foreground-color);
    }
    .sabaki-goban .vertex.left .board::before {
        left: 50%;
    }
    .sabaki-goban .vertex.right .board::before {
        width: 50%;
    }
    .sabaki-goban .vertex .board::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: var(--board-foreground-color);
    }
    .sabaki-goban .vertex.top .board::after {
        top: 50%;
    }
    .sabaki-goban .vertex.bottom .board::after {
        height: calc(50% + 1px);
    }
    .sabaki-goban .vertex .hoshi {
        left: 50%;
        top: 50%;
        width: .2em;
        height: .2em;
        border-radius: 50%;
        background: var(--board-foreground-color);
        transform: translate(calc(-50% + .5px), calc(-50% + .5px));
}

/* Stone render */

.sabaki-goban .vertex .stone {
        top: .04em;
        left: .04em;
        width: calc(100% - .08em);
        height: calc(100% - .08em);
        transform: translate(.5px, .5px);
    }
    .sabaki-goban .vertex .stone .shadow,
    .sabaki-goban .vertex .stone .inner {
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 50%;
        text-indent: -9999rem;
    }
    .sabaki-goban .vertex:not(.sign_0).dimmed .stone {
        opacity: .6;
    }
    .sabaki-goban .vertex:not(.sign_0) .stone .shadow {
        box-shadow: 0 .1em .2em rgba(23, 10, 2, .4);
    }
    .sabaki-goban .vertex.sign_1 .stone .inner {
        border-color: #151515;
        background: radial-gradient(#222, transparent 80%),
            radial-gradient(circle at 50% 20%, #555, transparent 50%),
            #222;
    }
    .sabaki-goban .vertex.sign_-1 .stone .inner {
        border-color: #ccc;
        background: radial-gradient(white, transparent 80%),
            radial-gradient(circle at 50% 80%, #ccc, transparent 50%),
            white;
}

/* Fuzzy stone placement */

.sabaki-goban .vertex:not(.sign_0).shift_1 .stone {
        transform: translate(0, 0);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_1 .stone {
        transform: translate(-.08em, 0);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_2 .stone {
        transform: translate(0, -.08em);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_3 .stone {
        transform: translate(.08em, 0);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_4 .stone {
        transform: translate(0, .08em);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_5 .stone {
        transform: translate(-.04em, -.04em);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_6 .stone {
        transform: translate(.04em, -.04em);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_7 .stone {
        transform: translate(.04em, .04em);
    }
    .sabaki-goban .vertex:not(.sign_0).shift_8 .stone {
        transform: translate(-.04em, .04em);
}

/* Markers */

.sabaki-goban .vertex .stone .marker {
        left: 0;
        top: 0;
        text-align: center;
    }
    .sabaki-goban .vertex .stone .marker::before,
    .sabaki-goban .vertex .stone .marker::after {
        box-sizing: border-box;
        content: '';
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        background: var(--board-background-color);
        border: .07em solid var(--board-foreground-color);
    }
    .sabaki-goban .vertex.sign_1 .stone .marker::before,
    .sabaki-goban .vertex.sign_1 .stone .marker::after {
        background: transparent;
        border-color: var(--black-foreground-color);
        color: var(--black-foreground-color);
    }
    .sabaki-goban .vertex.sign_-1 .stone .marker::before,
    .sabaki-goban .vertex.sign_-1 .stone .marker::after {
        background: transparent;
        border-color: var(--white-foreground-color);
        color: var(--white-foreground-color);
}

.sabaki-goban .vertex.marker_point .stone .marker {
        left: 50%;
        top: 50%;
        width: .3em;
        height: .3em;
        margin-left: -.15em;
        margin-top: -.15em;
        border-radius: 50%;
        background: var(--board-foreground-color);
    }
    .sabaki-goban .vertex.marker_point.sign_1 .stone .marker {
        background: var(--black-foreground-color);
    }
    .sabaki-goban .vertex.marker_point.sign_-1 .stone .marker {
        background: var(--white-foreground-color);
}

.sabaki-goban .vertex.marker_square .stone .marker::before,
.sabaki-goban .vertex.marker_circle .stone .marker::before {
        display: block;
        width: .5em;
        height: .5em;
        margin-left: -.25em;
        margin-top: -.25em;
    }
    .sabaki-goban .vertex.marker_circle .stone .marker::before {
        border-radius: 50%;
}

.sabaki-goban .vertex.marker_cross .stone .marker {
        width: .7em;
        height: .7em;
        left: 50%;
        top: 50%;
        margin-left: -.35em;
        margin-top: -.35em;
        background: var(--board-background-color);
    }
    .sabaki-goban .vertex.marker_cross.sign_1 .stone .marker,
    .sabaki-goban .vertex.marker_cross.sign_-1 .stone .marker {
        background: transparent;
    }
    .sabaki-goban .vertex.marker_cross .stone .marker::before,
    .sabaki-goban .vertex.marker_cross .stone .marker::after {
        content: '';
        display: block;
        border-width: .07em 0 0 0;
        width: .7em;
        height: 0;
        margin-left: -.35em;
        margin-top: -.035em;
        transform: rotate(45deg);
    }
    .sabaki-goban .vertex.marker_cross .stone .marker::after {
        transform: rotate(-45deg);
}

.sabaki-goban .vertex.marker_triangle .stone .marker::before {
        box-sizing: content-box;
        display: block;
        border-top: none;
        border-left: .3em solid transparent;
        border-right: .3em solid transparent;
        border-bottom: .5em solid;
        margin-left: -.3em;
        margin-top: -.25em;
        background: none;
    }
    .sabaki-goban .vertex.marker_triangle .stone .marker::after {
        box-sizing: content-box;
        display: block;
        border-top: none;
        border-left: .3em solid transparent;
        border-right: .3em solid transparent;
        border-bottom: .5em solid var(--board-background-color);
        margin-left: -.3em;
        margin-top: -.2em;
        transform: scale(.6);
        background: none;
    }
    .sabaki-goban .vertex.marker_triangle.sign_1 .stone .marker::after {
        border-bottom-color: var(--black-background-color);
    }
    .sabaki-goban .vertex.marker_triangle.sign_-1 .stone .marker::after {
        border-bottom-color: var(--white-background-color);
}

.sabaki-goban .vertex.marker_label .stone .marker::before {
        content: attr(title);
        display: inline-block;
        border: none;
        max-width: 1.67em;
        height: 1.1em;
        overflow: hidden;
        font-size: .6em;
        line-height: .9;
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: translate(-50%, -50%);
    }
    .sabaki-goban .vertex.smalllabel .stone .marker::before {
        max-width: 2.2em;
        height: 1.1em;
        font-size: .36em;
}

/* Paint map */

.sabaki-goban .vertex.paint_1 .paint,
.sabaki-goban .vertex.paint_-1 .paint {
        opacity: .3;
    }
    .sabaki-goban .vertex.paint_1 .paint {
        background: black;
    }
    .sabaki-goban .vertex.paint_-1 .paint {
        background: white;
}

/* Heat map */

.sabaki-goban .vertex .heat {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1px;
        margin-top: -1px;
        border-radius: 50%;
        width: 1px;
        height: 1px;
        background: red;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s, box-shadow .5s;
        z-index: 5;
    }
    .sabaki-goban .vertex.heat_9 .heat {
        box-shadow: 0 0 1em 1em red;
        opacity: .8;
    }
    .sabaki-goban .vertex.heat_8 .heat {
        box-shadow: 0 0 1em .9em red;
        opacity: .8;
    }
    .sabaki-goban .vertex.heat_7 .heat {
        box-shadow: 0 0 1em .75em red;
        opacity: .8;
    }
    .sabaki-goban .vertex.heat_6 .heat {
        box-shadow: 0 0 1em .6em red;
        opacity: .75;
    }
    .sabaki-goban .vertex.heat_5 .heat {
        box-shadow: 0 0 .9em .55em red;
        opacity: .7;
    }
    .sabaki-goban .vertex.heat_4 .heat {
        box-shadow: 0 0 .85em .5em red;
        opacity: .65;
    }
    .sabaki-goban .vertex.heat_3 .heat {
        box-shadow: 0 0 .8em .45em red;
        opacity: .6;
    }
    .sabaki-goban .vertex.heat_2 .heat {
        box-shadow: 0 0 .75em .4em red;
        opacity: .55;
    }
    .sabaki-goban .vertex.heat_1 .heat {
        box-shadow: 0 0 .7em .35em red;
        opacity: .5;
}

/* Selection */

.sabaki-goban .vertex .selection {
    position: absolute;
    left: -2px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 2px solid #0082F0;
    border-radius: 5px;
    background: rgba(0, 130, 240, .2);
}

/* Lines & arrows */

.sabaki-goban hr {
    border: none;
    height: .11em;
    background: var(--board-foreground-color);
    overflow: visible;
}

.sabaki-goban hr.arrow::before, .sabaki-goban hr.arrow::after {
        content: '';
        position: absolute;
        height: .11em;
        width: .5em;
        left: auto;
        right: 0;
        top: -.12em;
        background: var(--board-foreground-color);
        transform: rotate(30deg);
        pointer-events: none;
    }
    .sabaki-goban hr.arrow::after {
        top: auto;
        bottom: -.12em;
        transform: rotate(-30deg);
}
